.form {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form h1 {
  text-align: center;
  color: red;
}
.form label {
  display: block;
  color: white;
  font-weight: bold;
}
.form input {
  width: 100%;
  outline: none;
}
.form button {
  outline: none;
  border: none;
  background-color: red;
  color: white;
  width: fit-content;
  padding: 2px 20px;
}
