:root {
  --main-color: #2196f3;
  --second-color: rgba(0, 0, 0, 0.7);
  --text-color: rgba(0, 0, 0, 0.6);
  --link-size: 1.3rem;
  --main-transition: 0.3s;
  --bg-white: #ffffff;
  --grey-background: #f8f9f9;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: var(--main-color);
  color: var(--bg-white);
}
.t-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.t-center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-items {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.rounded {
  border-radius: 6px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* aside  */

.sidebar {
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}
.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}
.sidebar li {
  padding: 10px 20px;
  border-bottom: 1px solid #dee2e6;
}
.sidebar li a {
  color: #495057;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar li a span {
  color: var(--main-color);
  font-weight: bold;
}
.sidebar ul li i {
  color: var(--bg-white);
}
.sidebar li:hover {
  background-color: #e9ecef;
}
a:hover {
  text-decoration: none;
}
h3 {
  text-align: center;
  color: var(--bg-white);
}

.content {
  padding-top: 20px;
  gap: 20px;
  justify-content: center;
}
.content .box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}
.content .box p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar .navbar-brand {
  color: var(--bg-white);
}
nav h1 {
  text-align: center;
}
nav h1 a {
  font-size: 40px;
}
