:root {
  --main-color: #ffa734;
  --second-color: #232323;
  --text-color: rgba(0, 0, 0, 0.6);
  --link-size: 1.3rem;
  --main-transition: 0.3s;
  --bg-white: #ffffff;
  --grey-background: #f8f9f9;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: var(--main-color);
  color: var(--bg-white);
}
.t-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.t-center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-items {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.rounded {
  border-radius: 6px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* aside  */

.sidebar {
  top: 0;
  left: 0;
  height: 90vh;
  width: 300px;
  background-color: var(--second-color);
  padding: 20px;
}
.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}
.sidebar li {
  padding: 10px 20px;
  border-bottom: 1px solid var(--main-color);
}
.sidebar h3 a {
  color: var(--bg-white);
}
.sidebar li a {
  color: var(--bg-white);
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar li a span {
  color: var(--main-color);
  font-weight: bold;
}
.sidebar ul li i {
  color: var(--bg-white);
}
.sidebar li:hover {
  background-color: var(--main-color);
}
.sidebar li:hover a {
  color: var(--bg-white);
}
.sidebar li:hover a span {
  color: var(--bg-white);
}
a:hover {
  text-decoration: none;
}
h3 {
  text-align: center;
  color: var(--bg-white);
}

.content {
  padding-top: 20px;
  gap: 20px;
  justify-content: center;
}
.content .box {
  background-color: var(--second-color);
  padding: 20px;
}
.content .box p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: var(--bg-white);
}
nav h1 a {
  color: var(--main-color);
}
.content h3 {
  color: var(--main-color);
}
nav h1 a:hover {
  color: var(--main-color);
  opacity: 0.6;
}

.navbar {
  background-color: var(--second-color);
}
.navbar .navbar-brand {
  color: var(--bg-white);
}
nav h1 {
  text-align: center;
}
nav h1 a {
  font-size: 40px;
}

.nav-icon {
  display: none;
}
body {
  position: relative;
}

@media (max-width: 768px) {
  .nav-icon {
    display: block;
  }
  .sidebar {
    /* position: absolute; */
    transform: translateX(-400px);
    top: 40px;

    height: 100vh;
    width: 300px;
    left: 0;
  }
  .open {
    left: 300px;
  }
  .sidebar {
    left: -300px;
  }
}
